<tr class="table-row-data">
  <td class="table-data-text"><p class="border-right">{{id}}</p></td>
  <td class="table-data-text">{{title}}</td>
  <td class="table-data-text">{{thumbnailUrl}}</td>
  <td class="table-data-text">{{views}}</td>
  <td class="table-data-text"><p class="full-text-data">{{body}}</p></td>
  <td class="table-data-text">{{author}}</td>
  <td class="table-data-text table-data-flex">
    <button class="editBtn optionsBtn" type="button" data-id="{{id}}">
      <img
        style="text-align: center;"
        src="./assets/edit-icon.svg"
        class="edit-icon"
        alt="edit-icon"
      />
    </button>
    <button class="deleteBtn optionsBtn" type="button" data-id="{{id}}">
      <img
        style="text-align: center;"
        src="./assets/delete-icon.svg"
        alt="delete-icon"
        class="delete-icon"
      />
    </button>
  </td>
</tr>